<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <title>Список товаров</title>
</head>
<body class="min-w-[1349px]">

<!-- Toast -->
<div th:if="${message}" id="toast"
     class="fixed flex gap-4 items-center text-gray-600 font-medium right-10 bg-white z-20 bottom-10 shadow-lg border-2 rounded-md py-6 px-8">
    <div class="w-10 h-10 flex items-center justify-center rounded-md bg-green-100 text-green-800 text-xl">
        <i class="fa-solid fa-check"></i>
    </div>
    <p class="text-lg" th:text="${message}"></p>
    <div id="toastCloseButton"
         class="w-10 h-10 translate-x-4 cursor-pointer flex items-center justify-center rounded-md hover:bg-gray-200 text-xl hover:text-black">
        <i class="fa-solid fa-xmark text-xl"></i>
    </div>
</div>

<header class="py-12 bg-teal-50">
    <div class="container mx-auto flex items-center justify-between gap-6">

        <div class="items-center pl-6 font-medium text-3xl">
            <span th:if="${categoryId == null}"
                  th:text="'Welcome, ' + ${@userService.getUser().getName()} + ' 👋'"></span>
            <span th:if="${categoryId != null}"
                  th:text="${@categoryRepository.findById(categoryId).orElseThrow().getName()}"></span>
        </div>
        <div class="pr-9 flex gap-12 items-center">
            <div class="relative">
                <div id="categoryDropdownButton"
                     class="flex cursor-pointer items-center gap-1 text-gray-700 hover:text-black font-medium">
                    <span>Категория</span>
                    <i class="fa-solid fa-chevron-down text-sm"></i>
                </div>
                <!-- Dropdown menu -->
                <div id="categoryDropdown" class="bg-white rounded-lg font-medium shadow min-w-[155px] absolute w-full z-10">
                    <ul>
                        <li th:if="${categoryId != null}">
                            <a th:href="@{/products}"
                               class="block px-4 py-2 hover:bg-gray-100">Все категории</a>
                        </li>
                        <li th:each="category : ${categories}">
                            <a th:href="@{|products?categoryId=${category.getId()}|}"
                               class="block px-4 py-2 hover:bg-gray-100"
                               th:text="${category.getName()}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="relative">
                <div id="userDropdownButton"
                     class="flex cursor-pointer items-center gap-1 text-gray-700 hover:text-black font-medium">
                    <span th:text="${@userService.getUser().getName()}"></span>
                    <i class="fa-solid fa-chevron-down text-sm"></i>
                </div>
                <!-- Dropdown menu -->
                <div id="userDropdown"
                     class="bg-white rounded-lg font-medium shadow absolute min-w-[150px] right-0 z-10">
                    <ul>
                        <li>
                            <a class="block px-5 py-2 hover:bg-gray-100"
                               th:href="@{/user/orders}">Мои заказы</a>
                        </li>
                        <li>
                            <a class="block px-5 py-2 hover:bg-gray-100"
                               th:href="@{/user/reviews}">Мои отзывы</a>
                        </li>
                        <li class="block px-5 pt-3.5 pb-2 border-t hover:bg-gray-100 text-red-600">Выйти</li>
                    </ul>
                </div>
            </div>
            <div th:if="${@userService.isAdminOrModer(@userService.getUser())}" class="relative">
                <div id="adminDropdownButton"
                     class="flex cursor-pointer items-center gap-1 text-gray-700 hover:text-black font-medium">
                    <span th:text="${@userService.getUser().getRole().getServiceName()}"></span>
                    <i class="fa-solid fa-chevron-down text-sm"></i>
                </div>
                <!-- Dropdown menu -->
                <div id="adminDropdown"
                     class="bg-white rounded-lg font-medium shadow absolute min-w-[100px] right-0 z-10">
                    <ul>
                        <li>
                            <a class="block px-5 py-2 hover:bg-gray-100"
                               th:href="@{/admin/orders}">Заказы</a>
                        </li>
                        <li>
                            <a class="block px-5 py-2 hover:bg-gray-100"
                               th:href="@{/admin/reviews}">Отзывы</a>
                        </li>
                        <li>
                            <a class="block border-t px-5 pt-3.5 pb-2 hover:bg-gray-100 text-blue-600"
                               th:href="@{/products/add}">
                                Добавить</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="text-gray-700 hover:text-black font-medium text-2xl"
               th:href="@{/cart}">
                <span class="iconify" data-icon="solar:bag-3-linear" data-width="40" data-height="40"></span>
            </a>
        </div>

    </div>
</header>
<div class="container mx-auto relative mt-4">
    <table class="w-full text-left">
        <thead class="text-gray-500">
        <tr>
            <th class="px-6 py-4">#</th>
            <th class="px-6 py-4">Название</th>
            <th th:if="${categoryId == null}" class="px-6 py-4">Категория</th>
            <th class="px-6 py-4">Цена</th>
            <th th:if="${@userService.isAdminOrModer(@userService.getUser())}" class="px-4"></th>
            <th th:if="${@userService.isAdminOrModer(@userService.getUser())}" class="px-6"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="font-medium hover:bg-teal-50" th:each="product : ${products}">
            <td>
                <a class="px-6 py-4 block"
                   th:href="@{|products/${product.getId()}|}"
                   th:text="${product.getId()}"></a>
            </td>
            <td>
                <a class="px-6 py-4 block"
                   th:href="@{|products/${product.getId()}|}"
                   th:text="${product.getName()}"></a>
            </td>
            <td th:if="${categoryId == null}" class="text-gray-600">
                <a class="px-6 py-4 block"
                   th:href="@{|products/${product.getId()}|}"
                   th:text="${product.getCategory().getName()}"></a>
            </td>
            <td class="text-gray-500">
                <a class="px-6 py-4 block"
                   th:href="@{|products/${product.getId()}|}"
                   th:text="${product.getPrice()}"></a>
            </td>
            <td th:if="${@userService.isAdminOrModer(@userService.getUser())}" class="text-center">
                <a class="text-blue-600 hover:text-blue-800 text-lg"
                   th:href="@{|/products/edit/${product.getId()}|}">
                    <i class="fa-regular fa-pen-to-square"></i></a>
            </td>
            <td th:if="${@userService.isAdminOrModer(@userService.getUser())}" class="text-center">
                <a class="text-red-600 hover:text-red-800 text-lg"
                   th:href="@{|/products/delete/${product.getId()}|}">
                    <i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-right pr-3 py-6 text-xl ">
        Средняя стоимость: <span class="font-semibold" th:text="${avg}"></span>
    </div>
</div>

</body>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    #categoryDropdown, #userDropdown, #adminDropdown {
        display: none;
    }

    #categoryDropdown.active, #userDropdown.active, #adminDropdown.active {
        display: block;
    }
</style>

<script !src="">
    const categoryDropdown = document.getElementById('categoryDropdown');
    const categoryDropdownButton = document.getElementById('categoryDropdownButton');

    const userDropdown = document.getElementById('userDropdown');
    const userDropdownButton = document.getElementById('userDropdownButton');

    const adminDropdown = document.getElementById('adminDropdown');
    const adminDropdownButton = document.getElementById('adminDropdownButton');

    categoryDropdownButton.addEventListener('click', () => {
        userDropdown.classList.remove('active')
        if (adminDropdown != null) adminDropdown.classList.remove('active')
        categoryDropdown.classList.toggle('active')
    })

    userDropdownButton.addEventListener('click', () => {
        categoryDropdown.classList.remove('active')
        if (adminDropdown != null) adminDropdown.classList.remove('active')
        userDropdown.classList.toggle('active')
    })

    adminDropdownButton.addEventListener('click', () => {
        categoryDropdown.classList.remove('active')
        userDropdown.classList.remove('active')
        adminDropdown.classList.toggle('active')
    })


    // Toast Notifier
    const toast = document.getElementById('toast');
    const toastCloseButton = document.getElementById('toastCloseButton');

    toastCloseButton.addEventListener('click', () => {
        toast.classList.add('hidden')
    })

    setTimeout(() => {
        if (!toast.classList.contains('hidden')) {
            toast.classList.add('hidden')
        }
    }, 7000)
</script>
</html>